.custom-cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: var(--white);
  mix-blend-mode: difference;
  user-select: none;
  pointer-events: none;
  z-index: 111;
  transition: width 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33),
    height 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33);
}

.custom-cursor.active {
  width: 44px;
  height: 44px;
}
