@font-face {
  font-family: GraphikLCG;
  font-display: swap;
  src: url('../fonts/GraphikLCG-Light.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: GraphikLCG;
  font-display: swap;
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
